<div class="filter-container">
  <button
    class="btn btn-new"
    (click)="filterTicketsByStatus(ticketStatusEnum.NEW)"
  >
    New
  </button>
  <button
    class="btn btn-progress"
    (click)="filterTicketsByStatus(ticketStatusEnum.IN_PROGRESS)"
  >
    In Progress
  </button>
  <button
    class="btn btn-done"
    (click)="filterTicketsByStatus(ticketStatusEnum.DONE)"
  >
    Done
  </button>
  <button class="btn btn-clear" (click)="clearScreen()">Clear</button>
</div>
<app-ticket
  [ticket]="currentTicket"
  *ngFor="let currentTicket of filteredTickets"
  (emitTicket)="displayTicket($event)"
></app-ticket>
<hr />
<div class="ticket-screen">
  <div class="screen-card" *ngIf="displayTicketOnScreen">
    <div class="ticket-header">
      <h3 class="ticket-title">
        {{ ticketToDisplay.title }}
      </h3>
    </div>
    <div class="ticket-content">
      <p class="ticket-text">
        {{ ticketToDisplay.text }}
      </p>
      <p class="ticket-assignee">Assignee: {{ ticketToDisplay.assignee }}</p>
      <p class="ticket-status">Status: {{ ticketToDisplay.status }}</p>
    </div>
  </div>
</div>

<!-- ngStyle -->
<button class="btn btn-randomizer" (click)="generateRandomColor()">
  Randomize This!
</button>
<p appHoverShadow class="random-colored-text" [ngStyle]="{ color: randomColor }">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugit
  reiciendis repudiandae, dolorem iusto dolorum ipsum qui cumque voluptatem
  minima, vitae animi ducimus voluptas, unde sit expedita! Quas animi soluta
  tempore provident, fugit cupiditate sunt cum laboriosam dolores nam aliquam
  sed inventore repellat nisi, voluptates quos corporis, adipisci distinctio.
  Mollitia.
</p>
