<h3 style="cursor: pointer" routerLink="/smoothies">Go back</h3>

<div class="card" style="width: 18rem">
  <img
    class="card-img-top card-image"
    src="{{ smoothie.imageUrl }}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{ smoothie.name }}</h5>
    <p class="card-text">
      {{ smoothie.description }}
    </p>
    <p class="card-text">
      {{ smoothie.price }}
    </p>
    <a
      [routerLink]="['/smoothie-to-edit', smoothie.id, 'edit']"
      [queryParams]="{ smoothieToEdit: smoothie.id }"
      class="btn btn-primary"
      >Edit smoothie</a
    >
  </div>
</div>

<router-outlet></router-outlet>
