.costum-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 2px 2px 2px turquoise;
}

.container__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.container__list > li {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.container__list > li > div {
  position: absolute;
  transition: all 1s;
  width: 0%;
  height: 2px;
  background-color: teal;
  bottom: 0;
}

.container__list > li:hover {
  box-shadow: 1px 1px 1px teal;
}
.container__list > li:hover :first-child {
  width: 100%;
}

.custom-active-class {
  color: teal;
}
