.card__image {
  width: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  max-width: 40%;
  border: 1px solid pink;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
